body {
	background: #F4F4F2;
	color: #323232;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 0;
}
h3 {
	margin-top: 0;
}

.container {
	max-width: 1200px;
	min-width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	padding-top: 0;
}

p {
	font-size: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav ul li {
	background-color: #323232;
	border-radius: 4px;
	width: 20ch;
	max-width: 20ch;
	margin-bottom: 2rem;
}

nav ul li a {
	display: block;
	color: #F2F2F2;
	text-decoration: none;
	border-radius: 4px;
	padding: 15px;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #555;
}

.desc ul {
	padding: 1rem;
}

.desc ul li {
	list-style-type: square;
}

#game-embed {
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.colLayout {
	display: grid;
	grid-template-columns: 1fr 720px 1fr;
	gap: 1rem;
	margin-top: 2rem;
}

.leftCol {
	padding-top: 1rem;
	min-width: 145px;
}

.midCol {
	min-width: 720px;
	display: flex;
	justify-content: center;
}

.rightCol {
	min-width: 145px;
}

@media (max-width: 1009px) {
	.colLayout {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
}
